<h1>Demo#index</h1>
<h2>The Index Page</h2>
<p>Find me in app/views/demo/index.html.erb</p>
<%= link_to("Hello Page",{:controller => 'demo', :action => 'hello'})%><br />

<%= link_to("Hello Page With Parameters",{:controller => 'demo', :action => 'hello',
	:page => 5, :id => 20})%>
